/************
Variables
*************/

$font-stack: 'Helvetica Neue', Helvetica, 'Arial', sans-serif;
$theme-color: #236193;
$secondary-color: #ff9800;
$light-gray: #ccc;
$gray: #444;
$dark-gray: #333;