{% set blox = htmlWebpackPlugin.options.blox %}
{% set title = "Home" %}
{% extends "layout/layout.njk" %}
{% block content %}
    <div class="home">
        <h1>Hello Building Blox</h1>
    </div>
{% endblock %}