/**************
Landing section
***************/

.landing{
	text-align: center;
	padding: 200px 0 300px 0;
	background-image: linear-gradient(to right bottom, #051937, #163b63, #236193, #298ac4, #29b6f6);
	&__tagline {
		color: #fff;
		font-size: 1.6em;
		font-weight: 200;
	}
}

.jenbox {
	border: 2px solid #fff;
	padding: 1vw;
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
	&__jen {
		font-size: 6vw;
		color: $secondary-color;
		margin: 0;
	}
	&__starter {
		font-size: 3vw;
		color: #fff;
		margin: 0;
		font-weight: 300;
	}
}

.perf__badge {
	margin-left: 10px;
}