<section class="landing">
	<div class="jenbox">
		<h1 class="jenbox__jen">Jen</h1>
		<h2 class="jenbox__starter">Starter</h2>
	</div>
	<p class="landing__tagline">{{blox.db.meta.project.tagline}}
		<div class="perf">
			<a class="perf__badge" href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Finspiring-sammet-8f8ba9.netlify.com&tab=desktop"
				target="_blank" rel="noopener">
				<img src="https://lighthouse-badge.appspot.com?score=100&category=Perf" alt="Lighthouse performance score">
			</a>
			<a class="perf__badge" href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Finspiring-sammet-8f8ba9.netlify.com&tab=desktop"
				target="_blank" rel="noopener">
				<img src="https://lighthouse-badge.appspot.com?score=100&category=SEO" alt="Lighthouse SEO score">
			</a>
			<a class="perf__badge" href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Finspiring-sammet-8f8ba9.netlify.com&tab=desktop"
				target="_blank" rel="noopener">
				<img src="https://lighthouse-badge.appspot.com?score=100&category=A11y" alt="Lighthouse accessability score">
			</a>
		</div>
</section>
</div>